html {
    background-color: #333333;
}

canvas {
    margin-top: 10px;
    border: 1px solid white;
}

.highlight {
    color: yellow;
}

.options {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

.options.or {
    margin-top: 12px;
    margin-left: 20px;
    margin-bottom: 0px;
}

.resize-options-div {
    margin-left: 32px;
}

.color-input {
    margin-left: 8px;
}