body {
  margin-left: 15px;
  background: rgb(0, 0, 140);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 140, 1) 0%,
    rgba(0, 0, 49, 1) 80%,
    rgba(0, 0, 8, 1) 100%
  );
  background-attachment: fixed;
  font-size: medium;
}

[data-darkreader-mode="dynamic"] body {
  background: none;
}

#logo {
  max-width: 460px;
  margin: 10px 0px;
}

header {
  display: flex;
  align-items: center;
}

#description {
  width: 650px;
  min-height: 50px;
  padding: 0px 10px;
  margin-left: 30px;
  margin-bottom: 3px;
  align-items: center;
  border-radius: 8px;
  text-align: center;
  text-shadow: 1px 1px 2px black;
  background-color: #555;
}

#description .game {
  color: red;
}

h3 {
  margin-top: 0px;
}

a:link,
a:visited {
  color: dodgerblue;
}

.title {
  color: #808080;
  margin-bottom: 5px;
}

.highlight {
  color: yellow;
}

.canvas-container {
  position: relative;
  height: max-content;
  width: max-content;
}

canvas {
  border: 2px solid #808080;
  border-radius: 6px;
}

.inline-container {
  display: inline-block;
}

.loading-icon {
  position: absolute;
  visibility: hidden;
  width: 60px;
  height: 60px;
}

.loading-icon.active {
  visibility: visible;
}

.button.loading-icon {
  top: -36px;
}

.canvas.loading-icon {
  top: 8px;
  right: 3px;
}

.container {
  display: flex;
}

.vertical.container {
  margin-left: 10px;
  margin-top: 13px;
  flex-direction: column;
  min-width: 415px;
  width: 415px;
}

.section {
  position: relative;
  padding: 15px;
  padding-top: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  border: 2px solid #808080;
  border-radius: 6px;
}

.section h3 {
  position: absolute;
  top: -15px;
  left: 15px;
  background-color: black;
  border: 2px solid #808080;
  border-radius: 6px;
  padding: 2px 10px;
}

.block {
  display: flex;
  flex-direction: column;
}

.block:not(:last-child) {
  margin-bottom: 10px;
}

.options {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.options label {
  font-weight: 600;
}

.top label {
  display: block;
  margin-bottom: 8px;
}

.top input {
  display: block;
}

#terrain-select {
  max-width: max-content;
}

.indented-options {
  margin-top: 6px;
  margin-left: 40px;
}

#or {
  position: absolute;
  margin-top: 2px;
  margin-left: 20px;
  margin-bottom: 2px;
}

.color-input {
  margin-left: 8px;
}

.background-color-option {
  display: flex;
  align-items: baseline;
  margin-top: 15px;
}

.button-section {
  align-items: center;
  margin-left: 25px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.tooltip {
  position: relative;
  display: inline-block;
  margin-left: 8px;
}

.tooltip.warning-icon {
  margin-left: 2px;
}

.tooltip.circle {
  border-radius: 100px;
  padding: 1px 6px;
  border: 2px dotted white;
}

.tooltip .tooltip-text {
  visibility: hidden;
  color: white;
  font-weight: normal;
  font-size: medium;
  text-shadow: 1px 1px 4px black;
  background-color: #555;
  text-align: center;
  width: 275px;
  border: 2px solid #808080;
  border-radius: 8px;
  padding: 10px 10px;
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.yellow-button {
  margin-left: 60px;
  margin-bottom: 10px;
  padding: 6px 12px;
  background-color: #eedc65;
  border-color: #fbcb23;
  border-radius: 4px;
  font-weight: 900;
  font-size: medium;
  transition: transform 0.1s;
  transform: scale(1);
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.yellow-button:hover {
  transform: scale(105%);
}

.yellow-button::before {
  content: "";
  position: absolute;
  z-index: -2;
  left: -50%;
  top: -150%;
  width: 200%;
  height: 400%;
  background-color: #fbcb23;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: conic-gradient(
    transparent,
    rgb(223, 153, 24),
    transparent 30%
  );
  animation: rotate 4s linear infinite;
}

.yellow-button::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 3px;
  top: 3px;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  background: #eedc65;
  border-radius: 4px;
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

.download-button {
  text-align: center;
  transition: transform 0.1s;
  transform: scale(1);
}

.download-button:hover {
  transform: scale(105%);
}

.download-button a:link {
  color: #fbd416;
  text-decoration-line: none;
}

.download-button img {
  height: 50px;
}

#render-time {
  font-size: small;
  color: #808080;
}

#github-icon {
  position: absolute;
  top: 10px;
  right: 11px;
  width: 35px;
  fill: #808080;
  transition: transform 0.2s;
  transform: scale(1);
}

#github-icon:hover {
  fill: white;
  transform: scale(1.1);
}
