html {
    background-color: #333333;
    margin-left: 5px;
}

h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}

canvas {
    margin-top: 10px;
    border: 1px solid white;
}

.logo {
    max-width: 420px;
    margin-bottom: 10px;
}

.highlight {
    color: yellow;
}

.container {
    display: flex;
}

.block {
    margin-right: 40px;
}

.options {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

.or {
    margin-top: 12px;
    margin-left: 20px;
    margin-bottom: 0px;
}

.indented-options {
    margin-left: 32px;
}

.color-input {
    margin-left: 8px;
}

.output-info {
    max-width: 500px;
}